<div class="card card--primary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In asperiores
    architecto repellendus expedita ex optio beatae vitae officia consequuntur
    veritatis?
  </div>
</div>
<div class="card card--secondary">
  <header class="card__header">Card Title</header>
  <div class="card__body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. In asperiores
    architecto repellendus expedita ex optio beatae vitae officia consequuntur
    veritatis?
  </div>
</div>
